<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>526029389755-04o1ekrd1dcisb5os1sq0dgva8a6u523.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7uWCgC_tqDi1CtuD27rYEfv16j5kgeOs</string>
	<key>GCM_SENDER_ID</key>
	<string>526029389755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atriina.lms</string>
	<key>PROJECT_ID</key>
	<string>spark-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>spark-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526029389755:ios:a6fe05f0825d486720ce9e</string>
	<key>DATABASE_URL</key>
	<string>https://spark-debug.firebaseio.com</string>
</dict>
</plist>